<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:sport.properties"/>

    <bean id="myFortune"
        class="classes.HappyFortuneService">
    </bean>

    <bean id="myCoach"
          class="classes.Baseball_coach">
            <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myTracker"
          class="classes.Track_coach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myCricket"
          class="classes.Cricket_coach">
        <property name="fortuneService" ref="myFortune"/>
        <property name="emailAddress" value="${foo.Email}"/>
        <property name="team_Number" value="${foo.Team_no}"/>

    </bean>

</beans>
